<%- include("header") -%>

<h1>hello world</h1>
<p>sjldfwioerslfjvzx,.ns;aljkljjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj[nodemon] restarting due to changes...
    [nodemon] starting `node app.js`
    server started on port 3000
    Error: C:\Users\H.P\Documents\MernStack\ToDo-List\views\list.ejs:1
    Could not find the include file "header"
        at getIncludePath (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:185:13)
        at includeFile (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:311:19)
        at include (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:701:16)
        at eval ("C:\\Users\\H.P\\Documents\\MernStack\\ToDo-List\\views\\list.ejs":10:17)
        at list (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:703:17)
        at tryHandleCache (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:274:36)
        at exports.renderFile [as engine] (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\ejs\lib\ejs.js:491:10)
        at View.render (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\express\lib\view.js:135:8)
        at tryRender (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\express\lib\application.js:657:10)
        at Function.render (C:\Users\H.P\Documents\MernStack\ToDo-List\node_modules\express\lib\application.js:609:3)
    </p>
    <%- include("footer") -%>